<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>Hello there! I'm Timothy, a software developer based in Toronto with a major in Computer Science at the University of Waterloo. 
           Growing up in the internet age, STEM-based hobbies have been a part of my life. </p>
      </div>
      <div class="col-lg-4">
        <p>I'm also passionate about creative hobbies as visual arts and music. 
          On this site, you might find how I fuse the two seemingly disjoint sets of hobbies. </p>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" class="btn btn-lg btn-outline">
          <i class="Baby Photos"></i> Baby Pictures
        </a>
      </div>
    </div>
  </div>
</section>
